name: Update Dividend KPIs Daily

on:
  schedule:
    - cron: "15 18 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run updater
        run: python main.py
        env:
          TICKERS: |
            NYSE:UL
            NYSE:PG
            NYSE:XOM
            NYSE:ABBV
            NYSE:V
            NYSE:PM
            NASDAQ:PEP
            NYSE:LMT
            NYSE:MMM
            NYSE:JNJ
            NASDAQ:MSFT
            NYSE:GRMN
            NYSE:CVX
            UNH
            SAP
            SNOW
            MO
            INTC
            BABA
            TSM
            LHX
            NVO
            MRK
            NEE
            TXN
            ZTS
            AVGO
            ARE
            AMT
            BLK
            BMY
            BTI
          SHEET_NAME: "Stocks_Dividends_Core_OS"
          SNAPSHOT_TAB: "Snapshot"
          HISTORY_TAB: "History"
          GSERVICE_JSON: ${{ secrets.GSERVICE_JSON }}
