name: Update Dividend KPIs Daily

on:
  schedule:
    - cron: "15 18 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run updater
        run: python main.py
        env:
          TICKERS: |
            ABBV
            ALLY
            AMD
            AMT
            AVGO
            BABA
            BASFY
            BLK
            BMY
            BTI
            CUBE
            CVX
            GOOG
            GRMN
            HPQ
            INTC
            JNJ
            KHC
            LHX
            LMT
            MDLZ
            MMM
            MO
            MRK
            MSFT
            NEE
            NVO
            O
            OHI
            ORCL
            PEP
            PFE
            PG
            PM
            SAP
            SNOW
            TGT
            TROW
            TSM
            TXN
            UL
            UNH
            UPS
            V
            VICI
            XOM
            ZTS
            ETR:RHM
            EPA:DG
            NYSE:SNY
            EPA:TTE
            EPA:PUB
            NYSE:UL
            AMS:AD
            AMS:INGA
            AMS:SHELL
            RIO
            TM
            HSBC
            VZ
            META
          SHEET_NAME: "Stocks_Dividends_Core_OS"
          SNAPSHOT_TAB: "Snapshot"
          HISTORY_TAB: "History"
          GSERVICE_JSON: ${{ secrets.GSERVICE_JSON }}