name: Update Dividend KPIs Daily

on:
  schedule:
    - cron: "15 18 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run updater
        run: python main.py
        env:
          TICKERS: |
            ABBV
            ALLY
            AMD
            AMT
            AMZN
            AVGO
            BABA
            BASFY
            BLK
            BMY
            BTI
            CUBE
            CVX
            FLUT
            GOOG
            GRMN
            HPQ
            HSBC
            INTC
            JNJ
            KHC
            LHX
            LMT
            META
            MDLZ
            MMM
            MO
            MRK
            MSFT
            NEE
            NVO
            NVDA
            O
            OHI
            ORCL
            PEP
            PBR
            PFE
            PG
            PLTR
            PM
            RIO
            RTX
            SAP
            SNOW
            SNY
            T
            TGT
            TM
            TROW
            TSM
            TXN
            UL
            UNH
            UPS
            V
            VICI
            VZ
            XOM
            ZTS
            ETR:RHM
            EPA:DG
            EPA:TTE
            EPA:PUB
            AMS:AD
            AMS:INGA
            AMS:SHELL
            
          SHEET_NAME: "Stocks_Dividends_Core_OS"
          SNAPSHOT_TAB: "Snapshot"
          HISTORY_TAB: "History"
          GSERVICE_JSON: ${{ secrets.GSERVICE_JSON }}